.*
*.out
Consegna1/*.out
Consegna4/*.out
Consegna4/example_execution.md
Consegna5/*.out
Consegna6/*.out
Consegna1/output.txt
Consegna1/bucketSortV2.cpp
Consegna1/bucketSortV1.cpp
Consegna1/compressCountingSort
Consegna1/consegna1-loader.cpp
.DS_Store
merge_sort/graph.pdf
quicksort/quicksort
build/
Consegna2/build
Consegna2/PROJECT_REORGANIZATION_GUIDE.md
Consegna3/Project_Guideline.md
Consegne/
Consegna3_todelete/
